<html ng-app="myApp">
    <head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        
    </head>
    
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="navbar-brand">Angular JS</span>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" data-nav="Twitter">
                            <a href="#" >Twitter</a>
                        </li>
                        <li data-nav="Loop">
                            <a href="#" >The loop</a>
                        </li>
                        <li data-nav="HelloWorld">
                            <a href="#">Hello World!</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"></ul>
                </div>
            </div>
        </nav>
        

        <div ng-controller="mainController">
        
        <div data-panel="Twitter" class="container">
            <div class="jumbotron">
                <p>
                    <span>What's your twitter handle?</span>
                    <input type="text" ng-model="handle"/>
                    <div class="alert" ng-class="{ 'alert-info': handle.length < characters, 'alert-success': handle.length === characters, 'alert-danger': handle.length > characters}">
                        
                        <span ng-if="handle.length < characters">
                            You have {{ characters }} characters. Use it wisely.
                        </span>
                        <span ng-show="handle.length === characters">
                            Well done! You're a genius!
                        </span>
                        <span ng-if="handle.length > characters ">
                            Oh lord! You missed the stop! Remember? {{ characters }} is the max.
                        </span>
                        
                    </div>
                    <hr />
                    <h2>twitter.com/{{ lowercasehandle() }}</h2>
                </p>
            </div>
        </div>

        <div data-panel="Loop" class="hide container">
            <h2>Looper</h2>  
            <h3>Tha rulez!</h3>
            <ul>
                <li ng-repeat="rule in rulez">
                    {{ rule.rulename }}
                </li>
            </ul>    
        </div>

    
        <div data-panel="HelloWorld" class="hide container">
            <h3>Hello World!</h3>
        </div>
    
        </div>        

        <!-- Optional theme -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://code.angularjs.org/1.4.1/angular.min.js" type="text/javascript"></script>
        <script src="index.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function main(){
            var $menuButtons = $('[data-nav]');
            var $panels = $('[data-panel]');
            $menuButtons.bind('click', function menuButtonClicked(){
                var $buttonClicked = $(this);
                $menuButtons.removeClass('active');
                $buttonClicked.addClass('active');
                $panels.addClass('hide');
                var targetedPanel = $.grep($panels, function getTargetPanel(item){ 
                    return $(item).data('panel') == $buttonClicked.data('nav');
                });
                $(targetedPanel).removeClass('hide');
            });
        });
    </script>
    </body>
    
    
</html>